article aside {
    float: left;
}

body {
    overflow-y: scroll;
    padding: 0;
    margin: auto;
    font-family: Arial;
    font-size: 16px;
    background-image: url("../images/DPbackground.jpg");
    height: 1500px;
    width: 1000px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#nav {
    background-color: white;
    width: 1000px;
    top: 0;
    margin: 0px;
    text-align: left;
    position: fixed;
}

A:link {
    COLOR: black;
    TEXT-DECORATION: none;
    font-weight: normal
}

A:visited {
    COLOR: black;
    TEXT-DECORATION: none;
    font-weight: normal
}

A:active {
    COLOR: blue;
    TEXT-DECORATION: none
}

A:hover {
    COLOR: red;
    TEXT-DECORATION: none;
    font-weight: bold
}